<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Refresh Javascript</h1>
    <!-- <script>
        {
            var s='hai'
            console.log('inside->',s)
        }
            console.log('outside->',s)
    </script>
     -->
     <!-- <script>
        {
            let s='hai'
            console.log('inside->',s)

        }
            console.log('outside->',s)
     </script> -->

<script>
    let s='hai'
    {
        console.log('inside->',s)

    }
        console.log('outside->',s)
 </script>

 <!-- <script>
    {
        let s='welcome'
        console.log('inside->',s)
    }
 </script> -->

 <!-- <script>
    var s='hai'
    console.log('outside->',s)
    var s='hhhhh'
    console.log('mmmmm->',s)
 </script>
</body>
</html> -->